.menu {
  width: 100%;
  justify-content: center;
  // flex-direction: column;
  text-align: center;

  a {
    text-decoration: none;
    color: whitesmoke;
    padding-right: 25px;
    cursor: pointer;
  }
}



.homeText {
  line-height: 3rem;
}

.SakeFooter {
  background: #863436;
  bottom: 0;
  left: 0;
  right: 0;
  min-height: 100px;

  .v-row {
    justify-content: space-between;
    text-align: center;
    align-items: center;
    height: 100%;
    margin-top: 0.05%;
  }

  img {
    width: 15%;
  }

  a {
    text-decoration: none;
    color: white;
  }

  .footerFollow {
    h4 {
      letter-spacing: 1px;
    }

    .mdi-facebook {
      text-decoration: none;
      color: white;
      margin: 10px;
    }
  }
}

.homeTopImg {
  background-image: url(../assets/banner.jpg);
  height: 650px;
  background-position: center 45%;
  background-size: cover;
}

.space {
  height: 5%;
  width: 100%;
}

.loginRow {
  display: flex;
  flex-direction: column;
  margin: auto;

  p {
    font-size: 8px;
    color: #989898;
    margin-bottom: 8px;
  }
}

.homeInformation {
  margin-bottom: 20%;

  img {
    width: 100%;
  }

  p {
    margin-bottom: 10px;
  }

  .homeInformationRow {
    display: flex;
    justify-content: center;
    align-items: center;
  }

}

.homeCarousel {
  margin-bottom: 100px;
}

.homeInformation2 {
  margin-bottom: 1000px;
}

.homeInformation2Row {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;

  .homeInformation2Col {
    display: flex;
    justify-content: space-between;
  }
}

.homeTime {
  // span:first-child {
  //   margin-right: 20px;
  // }
  display: flex;
  flex-direction: column;
}

.aboutImg {
  height: 80vh;
  width: 100vw;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://lh3.googleusercontent.com/p/AF1QipPNxEAGerFKVsLKXxaqf4-dN4nmhRMzhIM7M4B_=s680-w680-h510);
  background-position: center;
  background-size: cover;
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}

.aboutRow {
  display: flex;
  flex-direction: column;
}

.aboutCol {
  margin-bottom: 100px;

  p {
    text-align: center;
    margin: 15px;
  }
}

.aboutCol2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 3rem;


  p {
    text-align: center;
  }
}

.contactImg {
  height: 80vh;
  width: 100vw;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://lh3.googleusercontent.com/p/AF1QipMq5PAP38N8LkbwAvcQPywXQjJdoGnOLS4rylJG=s1360-w1360-h1020);
  background-position: center;
  background-size: cover;
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}

.centerImg {
  height: 80vh;
  width: 100vw;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://image.cache.storm.mg/styles/smg-800x533-fp/s3/media/image/2016/08/02/20160802-050757_U7234_M181466_3994.jpg?itok=0lbtK7b9);
  background-position: center;
  background-size: cover;
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}

.contactRow {
  text-align: center;
  margin-bottom: 60px;
  font-size: 20px;
}

.contactRow2 {
  text-align: center;
  margin-bottom: 50px;
  font-size: 18px;
}




.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper {
  width: 100%;
  height: 300px;
  margin: 20px auto;
}


.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  top: var(--swiper-navigation-top-offset, 50%);
  width: calc(var(--swiper-navigation-size) / 44 * 27);
  height: var(--swiper-navigation-size);
  margin-top: calc(0px - (var(--swiper-navigation-size) / 2));
  z-index: 10;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #863436;
}

:root {
  --swiper-navigation-color: #989898;
  --swiper-theme-color: #ac9d9d;
}

.circleContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}

.centerCircle {
  width: 150px;
  height: 150px;
  font-size: 20px;
  background: #863436;
  text-decoration: none;
  color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.reservationRow {
  display: flex;
  flex-direction: column;
}

.reservationImg {
  height: 80vh;
  width: 100vw;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://lh3.googleusercontent.com/p/AF1QipPlIj_YBQ2N0_8rlVFcJYq_WAIuZn0PtyCFDwMd=s1360-w1360-h1020);
  background-position: center;
  background-size: cover;
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}

.userview {
  display: flex;
  flex-direction: column;
  margin: auto;
  text-align: center;

  img {
    width: 90%;
  }
}

.table-header {
  color: #989898;
}

// 小版
@media(max-width:960px) {
  .swiper1 {
    display: none;
  }
}


// 大版
@media(min-width:961px) {
  .aboutRow {
    display: flex;
    flex-direction: row;
  }

  .swiper2 {
    display: none;
  }

  .homeInformation2Row {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;

    .homeInformation2Col {
      flex-wrap: nowrap;
      flex-direction: column;
    }
  }

  .userview {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: auto;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
}