.menu {
  width: 100%;
  justify-content: center;

  a {
    text-decoration: none;
    color: whitesmoke;
    padding-right: 25px;
    cursor: pointer;
  }
}

.SakeFooter {
  height: 25%;
  background: #863436;
}